@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// root


$light-blue: #ebf7fa;
$blue: #00a5fa;
$black: #252525;
$light-black: rgba(37, 37, 37, 0.5);
$gray: #dcdcdc;
$dark-gray: rgba(0, 0, 0, 0.25);
$light-gray: rgba(255, 255, 255, 0.5);
$white: #fff;
//colors

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: $black;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__burger {
    display: block;
    position: relative;
    height: 16px;
    width: 20px;
    transition: all 1s;

    &::after,
    &::before {
      content: "";
      background: $black;
      position: absolute;
      width: 100%;
      height: 2px;
      transition: all 1s;
      border-radius: 8px;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      background: $black;
      position: absolute;
      width: 100%;
      height: 2px;
      top: 7px;
      border-radius: 8px;
    }
    &.active span {
      transform: scale(0);
    }
    &.active::after {
      transform: rotate(45deg);
      bottom: 9px;
    }
    &.active::before {
      transform: rotate(-45deg);
      top: 9px;
    }
  }

  &__search{
    border: none;
    padding: 8px 0 8px 15px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;


    &::placeholder{
        color: $gray;
        }
  }
}

.btn{

    font-size: 24px;
    line-height: 33px;
    background: $blue;
    color: $white;
    padding: 10px 87px;
    border: none;

    &__search{
      position: absolute;
      right: 15px;
      background: none;
      border: none; 
      border-radius: 10px;     
    }

    &__contact{
        margin-top: 25px;
    }
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__call{
        margin-top: 30px;
        display: flex;
        gap: 20px;
    }

    &__search{
        display: flex;
        align-items: center; 
        position: relative;
    }
}

.hero{
    position: relative;
    padding-top: 48px;
    &::before{
        content: '';
        background: $light-blue;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100vw;
        z-index: -1;
        height: 75%;
        // max-height: 100vh;
    }

    &__title{
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        text-transform: uppercase;
        color: $black;
        margin-bottom: 10px;
    }

    &__desc{
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        color: $light-black;
        max-width: 670px;
        margin: 0 auto;
    }

    &__blocks{
        margin-top: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 18px;
    }

    &__card{
        background: $white;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        padding: 10px 12px;

        h3{
            margin-top: 10px;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;

        }
    }

    &__line{
        // position: absolute;
        left: 0;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        overflow:hidden;
        width: 100%;

        span{
            display:inline-block;
            // display: flex;
            // width: 100%;
            font-size: 24px;
            line-height: 33px; 
            color: $dark-gray; 
        }
    }
    
}

// @-webkit-keyframes marquee {
//     0%{-webkit-transform: translate(0, 0);}
//     100%{-webkit-transform: translate(-100%, 0);}
//     }
// @keyframes marquee{
//     0%{transform: translate(0, 0);}
//     100%{transform: translate(-100%, 0)}
//     }


.project{
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__block{
        position: absolute;
        height: 30px;
        width: 965px;
        background: $light-blue;
        right: 0;
        top: 69px;
        z-index: -1;
    }

    &__title{
        font-weight: 700;
        font-size: 31px;
        line-height: 42px;
        margin-bottom: 10px;
    }

    &__desc{
        max-width: 620px;
        margin-bottom: 15px;
    }
}

.section{

    &__desc{
        font-size: 18px;
        line-height: 25px;
        color: $light-black;
    }
}

.link{
    text-decoration: none;
    color: $blue;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    gap: 10px;

    &__brands{
        color: #80D2FD;
        align-items: center;
    }

}

.brands{
    background-color: #00A5FA;
    padding: 28px 0 52px;
    &__title{
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        text-transform: uppercase;
        color: $white;
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    &__zone{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
    }
}

.about{
    margin-top: 88px;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;

        
    }

    &__block{
        flex-basis: 30%;
        background: url('./img/unsplash_-HIiNFXcbtQ.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 220px;
        max-width: 390px;
        width: 100%;
        padding: 70px 40px;

        &:nth-child(2){
            text-align: center;
        }

        h2{
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            text-transform: uppercase;
            color: $white;
        }

        p{
            font-size: 18px;
            line-height: 25px;
            margin-top: 5px;
            color: $light-gray;
        }
    }
}

.question{
    margin-top: 90px;
    padding: 54px 0;
    position: relative;
    box-shadow: 0px 4px 30px 1px rgba(0, 0, 0, 0.05);


    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 105px;
    }

    &__img{
        position: absolute;
        top: 0;
        right: 0;
        }

    &__content{
        padding: 30px;
        background: $light-blue;
        max-width: 495px;
        width: 100%;
    }

    &__header{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        gap: 21px;

        img{
            width: 59px;
            height: 59px;
        }
    }

    &__title{
        font-size: 24px;
        line-height: 33px;
    }

    &__input{
        margin-bottom: 20px;
    }
}

.input{
    padding: 10px 60px 10px 20px;
    border: none;
    font-size: 24px;
    line-height: 33px;
    
    &::placeholder{
        color: $gray;
    }
}

.ai{
    margin-top: 90px;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title{
        font-size: 36px;
        line-height: 49px;
        margin-bottom: 5px;
    }

    &__desc{
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 30px;
    }

    &__footer{
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: flex-start;
        margin-top: 90px;
    }

    &__block{
        width: 75px;
        height: 6px;
        background:$blue;

        &:not(:first-child){
            background: #80D2FD;
        }
    }
}

.call{
    margin-top: 90px;

    &__wrapper{
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
    }

    &__content{
        padding: 20px 30px 40px 50px;
        background: $light-blue;
    }

    &__title{
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        text-transform: uppercase;
        margin-top: 5px;
    }

    
}

.footer{
    margin-top: 120px;
    background: $black;
    padding: 40px 0 64px;

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 110px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 15px;

        & li:first-child a{
            font-size: 18px;
            line-height: 25px;
            color: $white;
        }
    }

    &__link{
        text-decoration: none;
        color: $light-gray;
        font-size: 14px;
        line-height: 19px;

        
    }
}